:root
{
    --current-blue: #2a607c;
    --current-white: #ffffff;
}

html
{
    height: 100%;
    width: 100%;
}

body
{
    width: 90%;
    height: 100%;
    background-color: antiquewhite;
    margin: 0 auto;
    border: 5px solid black;
    display: flex;
    flex-flow: row wrap;

}

header
{
    display: flex;
    width: 100%;
    height: 200px;
    flex-flow: row wrap;
    justify-content:   flex-end ;
    gap: -1rem;
    align-items: flex-start;

}
h1
{
    margin: 0px;
    width: 85%;
    background-color: var(--current-blue);
    color: var(--current-white);
    border-radius: 0 0 0 10px;     
    font-size: 50px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav
{
    width: 75%
}

details
{
    width: 100px;
    background-color: var(--current-white);
    margin: -25px 0;
    border-radius: 0px 0px 5px 5px;
}

details[open]
{
    width: 100%;
    background-color: var(--current-white);
    margin: -25px 0;
    border-radius: 0px 0px 0px 5px;
}

details *
{
    margin: 0px;
    display: inline;
}

details summary
{
    width: 20%;
    padding: 5px 10px;
}

details li
{
    width: 20%;
    margin: auto 3%;
}

main
{
    width: 100%;
    height: 100%;
}

iframe
{
    width: 100%;
    height: 100%;
}