:root
{
    --current-blue: #2a607c;
    --current-white: #ffffff;
}

html
{
    width:100%;
    height: 100%;
}

body
{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

header
{
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    width: 600px;
    height: 100px;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 15px;
}

header h2
{
    display: flex;
    background-color: gray;
    color: var(--current-white);
    margin: 0px;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;    
}

nav
{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
header a, a:visited
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--current-white);
    text-decoration: none;
    height: 50px;
    width: 100%;
}

header a:hover
{
    background-color: var(--current-blue);
    color: var(--current-white);
}

main
{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}



main p
{
    width: 80%;
    padding: 150px 0px 650px 0px;
}

section
{
    display: flex;
    width: 100%;
    position:fixed;
    bottom: 0;
    right: 0; 
}
textarea
{
    width: 50%;
}
iframe
{
    width:50%;
}